[submodule "go-prof-relay"]
	path = go-prof-relay
	url = https://github.com/prof-project/go-prof-relay.git
[submodule "go-bundle-merger"]
	path = go-bundle-merger
	url = https://github.com/prof-project/go-bundle-merger.git
[submodule "go-prof-sequencer"]
	path = go-prof-sequencer
	url = https://github.com/prof-project/go-prof-sequencer
[submodule "prof-flood"]
	path = prof-flood
	url = https://github.com/prof-project/prof-flood
[submodule "prof-ethereum-package"]
	path = prof-ethereum-package
	url = https://github.com/prof-project/prof-ethereum-package.git
[submodule "go-prof-builder"]
	path = go-prof-builder
	url = https://github.com/prof-project/builder.git
