[submodule "ethereum-package"]
	path = ethereum-package
	url = https://github.com/kurtosis-tech/ethereum-package.git
[submodule "go-prof-relay"]
	path = go-prof-relay
	url = https://github.com/prof-project/go-prof-relay.git
[submodule "go-bundle-merger"]
	path = go-bundle-merger
	url = https://github.com/prof-project/go-bundle-merger.git
[submodule "go-prof-sequencer"]
	path = go-prof-sequencer
	url = https://github.com/prof-project/go-prof-sequencer
